################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3.8.0/angular/VS.DLQ.AngularUI.csproj.user
