<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h1>
                    Queensland Government
                </h1>
                <h2>
                    Department of Agriculture and Fisheries
                </h2>
            </div>
            <div class="body">
                <p>We provide leadership to promote a sustainable and innovative agriculture, fisheries and forestry sector which adds value to the economy and community.</p>
                <p>At DAF, we create opportunities and manage risks to enable sustainable food and fibre production. We do this by effectively managing community resources, applying science to improve production and products, leading the fight on animal and plant pests and diseases, and working constructively with stakeholders for mutual benefit. Our work makes a difference to the economy, the environment, agri- and food industries, rural communities and Queenslanders. We operate in 92 locations across Queensland.</p>
                <p>Our <a href="https://www.daf.qld.gov.au/__data/assets/pdf_file/0006/86289/daf-org-chart-may-2018.pdf">organisational chart<span class="noStyle"></span></a> reflects the high-level structure of the department.</p>
                <h2>Our business areas</h2>
                <p>We are structured to deliver our objectives through four service areas:</p>
                <ul><li>Agriculture</li><li>Fisheries and Forestry</li><li>Biosecurity Queensland</li><li>Corporate</li></ul>
                <h3>Agriculture</h3>
                <p>Agriculture works with industry associations and all levels of government to provide operating conditions and services that enable businesses to develop the workforce, manage risks and build resilience, and improve market supply chains. It also manages the delivery of regional assistance to industry.</p>
                <p>Within Agriculture, Agri-Science Queensland undertakes research, development and extension to lift the productivity of Queensland's agricultural businesses.</p>
                <p>More information can be found in the <a href="https://www.daf.qld.gov.au/business-priorities/animal-industries">
                    <u>Animal</u> Industries</a> and <a href="https://www.daf.qld.gov.au/business-priorities/plants">
                    <u>Plant</u> Industries</a> sections of our website.
                    </p>
                <h3>Fisheries and Forestry</h3>
                <p>Fisheries and Forestry manages the sustainability and allocation of fisheries and forestry resources for all Queenslanders. This is vital to create the basis for profitable businesses and enjoyable recreational fishing experiences for locals and visitors.</p>
                <p>Fisheries and Forestry ensures fisheries remain sustainable and productive by monitoring, determining and controlling access and development as needed; providing education and enforced fishing regulations to promote equitable access to fisheries resources; maintaining supplies of state owned forest products and quarry materials to industry.</p>
                <p>More information can be found in the <a href="https://www.daf.qld.gov.au/business-priorities/fisheries"><u>Fisheries</u></a> and <a href="https://www.daf.qld.gov.au/business-priorities/forestry"><u>Forestry</u></a> section of our website.</p>
                <h3>Biosecurity Queensland</h3>
                <p>Biosecurity Queensland leads the Government's efforts to prevent, respond to and recover from pests and diseases threatening agricultural prosperity, the environment, social amenity and human health. This is achieved by maintaining access to markets, protecting animal welfare and reducing the risk of contamination from agricultural chemicals.</p>
                <p>More information can be found in the <a href="https://www.daf.qld.gov.au/business-priorities/biosecurity"><u>Biosecurity</u></a> section of our website.</p>
                <h3>Corporate</h3>
                <p>The business areas are supported by corporate services delivered under a Business Corporate Partnership. A corporate hub is hosted within the department and provides finance, information technology, communication, human resources and organisational performance management services across cluster partners.</p>
                <h2>History</h2>
                <p>The Queensland Government has a long history in working with agriculture, fisheries and forestry communities. Over the past 100 years, industry has changed and developed, as we have with them.</p>
                <p>Download our <a href="https://www.daf.qld.gov.au/__data/assets/pdf_file/0012/208110/DAF-historical-highlights.pdf">historical highlights<span class="noStyle"></span></a> to find out more.</p>
                <h2>Strategic plan</h2>
                <p>Our <a href="https://www.daf.qld.gov.au/corporate-publications/strategic-plan">strategic plan</a> outlines how we contribute to government policy for food and fibre and sustainable fishing.</p>
                <h2>Annual Report</h2>
                <p>Our <a href="https://www.daf.qld.gov.au/corporate-publications/annual-report"><u>annual report</u></a> is an account of our work and financial position for the 12 months ending 30 June. It reflects our performance against our strategic plan.</p>
                <h2>Contact us</h2>
                <p>Please <a href="https://www.daf.qld.gov.au/contact/contact-us">contact us</a> to find out more about our organisation. A list of our <a href="https://data.qld.gov.au/dataset/agriculture-fisheries-office-locations/resource/f2f4999c-2007-4b84-b20c-7badaca0e58c">office locations</a> is also available on the Open Data portal.</p>
            </div>
        </div>
    </div>
</div>
