<div class="card" [@routerTransition]>
    <div #cardBody class="body">
        <form #reportIllegalForm="ngForm" method="post" novalidate (ngSubmit)="save()">
            <h4 class="text-center">{{l("Report Illegal Activity")}}</h4>
            <div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" autoFocus type="text" [(ngModel)]="model.question" name="Name" required maxlength="32" />
                    <label class="form-label">{{l('Question:')}}</label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success" [disabled]="!reportIllegalForm.form.valid">{{l("Submit")}}</button>
            </div>
        </form>
    </div>
</div>
